html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
    padding-inline: 20px;
}

.content-section_theme_dark {
    background-color: #131313;
}

.content-section_theme_bright {
    background-color: #FEE42A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 24px 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    line-height: 19px;
    color: #f5f5f5;
}

.header__logo{
    width: 78px;
}

.header__menu-item_active {
    color: #f5f5f5;
    text-decoration: none;
}

.header__menu-item {
    color: #f5f5f5;
}

.main {
    flex-grow: 1;
}

.cover__title {
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    color: white;
}

.accent-span {
    display: flex;
}

.text-center {
    justify-content: center;
}

.text-right {
    justify-content: end;
}
.cover {
    padding: 8px 20px 16px;
    background-image: url(/images/cover.svg);
    background-size: 340px 221px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.intro {
    padding: 30px 20px 38px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.intro__heading{
    display:flex;
}

.intro__title {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color:#ccc;
}

.intro__date {
    font-size: 16px;
    line-height: 120%;
    color:#ccc;
}

.intro__main-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #f5f5f5;
}

.reasons {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #131313;
}

.content-section__subtitle {
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 115%;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 135%;
} 

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
    line-height: 22px;
    color: #131313;
}

.content-section__list-item {
    font-size: 16px;
    line-height: 135%;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    padding: 40px 20px 60px;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
}

.card {
    
}

.card_theme_dark {

}

.card_theme_bright {

}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #FEE42A;
    color: #f5f5f5;
}

.footer-copy {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 135%;

}

.footer-links {
    display: flex;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 125%;
    color: #f5f5f5;
}

.footer__menu-item {
    color: #f5f5f5;
    text-decoration: none;
}